* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
}

/* template per js */
.template {
    display: none;
}
/* ---------------- */

#fullscreen {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(211,211,211,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80%;
    height: 90vh;
    min-width: 900px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30),0 2px 6px 2px rgba(60,64,67,.15);
}

/* lato sinistro con tutti i msg */
#allmsg {
    width: 40%;
    height: 100%;
    float: left;
    background: white;
}

.user {
    width: 100%;
    height: 60px;
    background-color: #EDEDED;
    border: 1px solid #E9E9E9;
}

#user-icons {
    float: right;
    padding-top: 10px;
}

.fas {
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.user img {
    width: 50px;
    height: 48px;
    object-fit: contain;
    margin: 5px;
    border-radius: 50%;
    float: left;
}

#notifications {
    width: 100%;
    height: 50px;
    background-color: #83d1de;
}

#notifications span {
    border-radius: 100%;
    background-color: white;
    margin: 5px;
    display: inline-block;
}

#notifications span i {
    color: #9DE1FE;
}

#notifications-text {
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
}

#search {
    width: 100%;
    height: 30px;
    display: inline-block;
    border: 1px solid #DCDCDC;;
}

#search input {
    width: 80%;
    border: transparent;
    vertical-align: middle;
    color: lightgray;
    font-size: 15px;
}

.messages {
    width: 100%;
    height: calc(100% - 135px);
    background-color: white;
    overflow-y: scroll;
}

.chat-preview {
    width: 100%;
    padding: 2%;
    background-color: white;
    display: inline-block;
}

.chat-preview:hover {
    background-color: #e5e8ed;
    cursor: pointer;
}

.chat-preview img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 10px;
    float: left;
    border-radius: 50%;
}

.name {
    color: #4E4E4E;
    font-size: 15px;
    padding-top: 10px;

}

.last-message {
    color: #A0A0A0;
    padding-top: 10px;
    float: left;
}

.time {
    float: right;
    color: #A0A0A0;
}


/* lato destro */
.singlemsg {
    width: 60%;
    height: 100%;
    float: left;
    display: none;
}

.chat-with {
    width: 100%;
    height: 80%;
    background-image: url(img/wallpaper.jpg);
    background-size: contain;
    background-repeat: repeat;
    overflow-y: scroll;
}

.real {
    display: none;
}

#user-name , #last-time-seen {
    color: #4E4E4E;
    font-size: 15px;
    padding: 15px 5px;
    float: left;
}

.chat-friend {
    background-color: white;
    float: left;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    clear: both;
}

.chat-me {
    background-color: #DCF8C6;
    float: right;
    clear: both;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

/* per menu tendina */
.chat-me:hover::before , .chat-friend:hover::before {
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    font-weight: 900;
    float: right;
    color: #B6B9BB;
}

.message-options {
    float: right;
}

.message-options-panel {
    background-color: white;
    padding: 2%;
    cursor: pointer;
    display: none;
    float: right;
}

.time-chat {
    float: right;
    color: #A0A0A0;
    font-size: 10px;
    padding-top: 2px;
    clear: both;
}

.footer {
    width: 100%;
    height: calc(20% - 58px);
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer input {
    width: 80%;
    margin: 0 3%;
    padding: 2% 0;
    border-radius: 5px;
    border: transparent;
    color: #A0A0A0;
}

.footer i {
    font-size: 15px;
    color: gray;
}

/* JQUERY classes */

.on {
    background-color: #e5e8ed;
}

.active {
    display: inline-block;
}
